/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";



body {
  padding-top: 80px;
}

h1,
h2,
h3 {
  margin-bottom: 1.5rem;
}

.navbar {
  border-bottom: 3px solid #e7e7e7;
}

.navbar-light .navbar-brand {
  color: #c1d62e;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #c1d62e;
}

.list-group-item.active {
  background-color: #c1d62e;
  border-color: #c1d62e;
}

.btn-primary {
  background-color: #c1d62e;
  border-color: #c1d62e;
}

.btn-primary:hover {
  background-color: #c1d62e;
  border-color: #c1d62e;
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: #c1d62e;
  border-color: #c1d62e;
}

.form-control:focus {
  border-color: #c1d62e;
}
