<div class="row">
  <div class="col-md-2">

    <div class="list-group side">
      <button type="button" class="list-group-item list-group-item-action active">
        List of Topology Items
      </button>
      <button (click)="select(topologyItem)" type="button" *ngFor="let topologyItem of topologyItems$ | async" class="list-group-item list-group-item-action">
        {{ topologyItem.title }}
      </button>

    </div>

  </div>
  <div class="col-md-8" *ngIf="isTopoSelected">

    <app-topology-workspace> </app-topology-workspace>
  </div>
  <div class="col-md-2" *ngIf="isTopoSelected"> First Div</div>
</div>
