/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.css';
/* TODO: GHislain should removed this--> Import from Assets */

@import 'assets/css/bootstrap-theme.css';
@import 'assets/css/styles.css';
@import 'assets/css/bootstrap-table.css';
/*Font size import mechnismus*/

@import '~font-awesome/css/font-awesome.css';
.datepicker table {
  width: 100% !important;
}

table tr td,
table th {
  font-size: 1.2rem !important;
}

.sidebar ul.nav ul.children li a.active {
  color: #ececec !important;
}

.todo-list-item {
  list-style: none;
}

.text-white {
  color: white !important;
}
