<div class="container-fluid">
  <div class="row align-items-start">

    <div class="col">
      <label [attr.for]="device.key">{{device.label}}</label>
    </div>
    <div class="col">
      <label [attr.for]="device.key">{{device.label}}</label>
    </div>
    <div class="col">
      <label [attr.for]="device.key">{{device.label}}</label>
    </div>
  </div>


  <div [ngSwitch]="device.controlType">

    <input *ngSwitchCase="'textbox'" [id]="device.key" [type]="device.type">

    <select [id]="device.key" *ngSwitchCase="'dropdown'">
      <option *ngFor="let opt of device.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div>
</div>
