

    <div class="container">

        <div class="navBar">

                <ul>
                        <li *ngFor="let package of all"  >
                                <nav class="navBox">

      <mat-card class="example-card"  >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{package.title}}</mat-card-title>
          <mat-card-subtitle>{{package.title}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{package.iconUrl}}" alt=" ">
        <mat-card-content>
          <p>
              {{package.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
        <hr/>
      </mat-card>

      </nav>
      </li>
      </ul>

    </div>

