.header {
  background-image: url('/assets/images/hilscherHeaderBand.png');
  height: 60px;
 
  background-repeat: no-repeat;
  display:block;
  
   
  background-size: 100%;
}
section{
  text-align: right;
   
}
