.row{
 min-height:  600px;
 }
 .col-md-auto{
 height: inherit;
 }


.leftul {
  width: auto; 
  background-color: gray;
  border-style: none;  
  margin-top: 10px;
  min-height: inherit;
} 

.leftul li { 
  margin: 2px  0px;
  background-color: whitesmoke; 
  display: block;
  float: left;
  clear: left;
 min-width:  160px;
}

.leftul a {   
  cursor: hand;
  text-transform: uppercase;
}

.leftul li a {
  display: block;  
  text-align: center; 
  text-decoration: none;
  color: var(--hilscher-color);
}

.leftul li a:hover {   
  background-color: var(--hilscher-bg);
  color: white;
  text-transform: uppercase;
}
 

.leftul li a.active {   
  background-color: var(--hilscher-bg);
  color: white;
}

 