<div *ngIf="movie.title" class="card">
  <img *ngIf="movie.imageUrl" class="card-img-top" [src]="movie.imageUrl" alt="{{ movie.title }}">
  <div class="card-body">
    <h4 class="card-title">{{ movie.title }}</h4>
    <p class="card-text">{{ movie.price | currency:'USD':true }}</p>
  </div>
  <div *ngIf="showActions && movieFavory" class="card-footer">
    <button *ngIf="movieFavory.getQuantity(movie) === 0; else updateQuantity" (click)="addToFavory()" class="btn btn-secondary btn-block">Add
      to Favory</button>
    <ng-template #updateQuantity>
      <!-- <product-quantity [movie]="movie" [shopping-cart]="shoppingCart">
      </product-quantity> -->
      <p> Prodctur Q</p>
    </ng-template>
  </div>
</div>
