<div class="container-fluid">
    

        <div class="row">
           
                <div class="col">
                        <h1>List of Todos</h1>
                        <button  *ngIf="selectedTodo"      title="delete hero"  (click)="delete()">Delete</button> 
                        <div>
                                <label>Todo:
                                  <input #todoName />
                                </label>
                                <!-- (click) passes input value to add() and then clears the input -->
                                <button (click)="add(todoName.value); todoName.value=''">
                                  add
                                </button>
                                <button (click)="search(todoName.value)">
                                  search
                                </button>                        
                                 
                                 
                                 
                        </div>


                        <div class="list-group">
                                <button (click)="select(todo)"
                                 *ngFor="let todo of todos" 
                                  type="button" 
                                  class="list-group-item list-group-item-action ">
                                    {{todo.name}}            
                                    <span class="badge badge-primary badge-pill">{{todo.id}}</span>

                                   

                        </button>  
                            
                            </div>                        
                </div>            

          <div class="col-6">
                <h1>Editor</h1>
              </div>

              
          <div class="col" *ngIf="selectedTodo">
            <h1>Prpoerties grid</h1>
            {{ selectedTodo.id}}
          </div>

        </div>
</div> 