	<!-- Package List
  ============================================================================================= -->

	<!-- Start Package List -->
	<section id="Package List">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-12 text-center">
					<h1 class="text-danger">Frameworks or libraries to accelerate your project !!!</h1>
				</div>
				<!-- col -->
			</div>
			<!-- row -->
			<div class="row">
			 <div *ngFor="let pkg of list"  class="col-4">
					<!-- Start Card -->
					<div class="card mb-5 mb-sm-2">
						<img class="card-img-top" src= {{pkg.iconUrl}} alt="No Icon Found!!!">
						<div class="card-body">
							<h3 class="card-title text-danger">{{ pkg.title}}</h3>
							<p class="card-text"> {{pkg. description}}</p>
							<p class="card-text lead text-danger">{{pkg.authors }}</p>
						</div>
						<div class="card-footer">
							<button class="btn btn-outline-danger btn-round" type="button">More Info</button>
						</div>
					</div>
					<!-- Ende Card -->
				</div>
				<!-- card-deck -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</section>
	<!-- Ende Package List -->
