<h1 class='primary'><span> Ghislain</span> -  Nuget Package Viewer</h1>
<button mat-raised-button
        class="example-action-button"
        (click)='toggleBackground()'>
  Toggle background
</button>
<nav mat-tab-nav-bar>


<mat-icon color='warn'>home</mat-icon>

<button mat-button color='primary'>Home</button>

<button mat-button (click)="openSnackBar('This is a', 'Snackbar Stategy Logic coming soon !')">Open Snackbar!</button>


<mat-menu #menu='matMenu' yPosition="above">
 <button focus='focus()' mat-menu-item>Coming soon</button>
<button focus='focus()' mat-menu-item>Login</button>

</mat-menu>

<!-- <button mat-button [mat-menu-trigger-for]='menu'>Nuget</button> -->
<mat-button-toggle  mat-button >Nuget</mat-button-toggle>
</nav>
