<div class="row">
  <div class="col-3">
    <div class="card w-25">
      <img src="assets/img/wand.jpg" alt="Mauer" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title">Überscrift</h4>
        <p class=card-text>
          How die wetelt
        </p>
        <a href="#home" class="btn btn-warning">Mehr</a>
      </div>
    </div>

  </div>
  <!--End Card 1!!-->

  <div class="col-3">
    <div class="card">
      <img src="assets/img/wand.jpg" alt="Mauer" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title">Überscrift</h4>
        <p class=card-text>
          How die wetelt
        </p>
        <a href="#home" class="btn btn-warning">Mehr</a>
      </div>
    </div>

  </div>
  <!--End Card 2!!-->

  <div class="col-3">
    <div class="card">
      <div class="card-header">My Mauer</div>
      <img src="assets/img/wand.jpg" alt="Mauer" class="card-img-top">
      <div class="card-body">
        <h4 class="card-title">Überscrift</h4>
        <p class=card-text>
          How die wetelt
        </p>
        <div class="card-footer">
          <a href="#home" class="btn btn-warning">Mehr</a>
        </div>
      </div>
    </div>
  </div>
  <!--End Card3 !!-->

</div>
