<!--The content below is only a placeholder and can be replaced.-->
 <section>
  <app-navbar></app-navbar>
 </section>


 <section>
    <div [hidden]="!loading" class="loader">
        <div class ="container">
          <mat-spinner diameter="500"></mat-spinner>
        </div>
      </div>
      <router-outlet></router-outlet>
 </section>

 <section>
  <app-footer></app-footer>
 </section>


  <!-- <div class="container-fluid">
     <div class="row align-items-center  ">
     <div class="col">
     <router-outlet></router-outlet>
    <div [hidden]="!loading" class="loader">
      <div>
        <mat-spinner diameter="735"></mat-spinner>
      </div>
    </div>
  </div>
</div>
</div> -->

 <!--   -->



