<div class="gcontainer">

<div class="gheadercontainer">
 <p> Header </p>
</div>

<ul>
  <li><a routerLink="/app-home"> Home</a></li>
  
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>


    <li style="float:right"> 
       <a  routerLink="/heroes"> Hereos </a>
    </li>

  <li style="float:right"><a   href="#about">About</a></li>
</ul> 


<div class="gmaincontainer">
    
  <router-outlet></router-outlet>

</div>


<div class="gfootercontainer">
  

    
  <p> Footter </p>
</div>

</div>