<!-- The content below is only a placeholder and can be replaced. -->
<!-- <section>
  <app-navbar></app-navbar>
 </section>


 <section>
    <div [hidden]="!loading" class="loader">
        <div class ="container">
          <mat-spinner diameter="500"></mat-spinner>
        </div>
      </div>
      <router-outlet></router-outlet>
 </section>

 <section>
  <app-footer></app-footer>
 </section> -->



<div id="main-wrapper">
  <app-navside *ngIf='loggedIn'></app-navside>



  <div id="content" [ngClass]="{'fullscreen':!loggedIn}">
    <div id="content-inner">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
