<div *ngIf="topologyItem$ | async as topologyItem">

  <h3>{{ topologyItem.name }}</h3>

  <div>
    <label>Id: </label>{{ topologyItem.id }}</div>
  <div>
    <label>Name: </label>{{ topologyItem.title }}</div>


</div>

<div #myDiagramDiv class="diagramContainer">

</div>
 
<form>
    <div class="row">
      <div class="col-6">
        <input #myLoadInputText type="text" class="form-control" placeholder=" id eingeben">
      </div>
      <div class="col">
<button type="button" #loadB id="myLoadButton" (click)="load(inputLoad)"> Load </button>
<button type="button" #saveB id="myLoadButton" (click)="save(inputLoad)"> Save </button>
      </div>
    </div>
  </form>
