
<div class="container">
    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <h1 class="text-danger">Frameworks and Libraries to accelerate your projects </h1>
      </div>
    </div>
    <div class="card-columns">
      <div *ngFor="let package of all" class="card">
        <img class="card-img rounded-0" src="{{package.iconUrl}}" alt="No Picc Sorry!!">
        <h3 class="text-danger mb-3">{{package.version}}</h3>
        <h6 class="text-black px-4">{{package.description}} </h6>
      </div>

    </div>
    <!-- card-columns -->
  </div>


