h1 {
	margin: 20px 0;
	padding-bottom: 7px;
	border-bottom: 2px solid #ffc107;
	color: #000;
}

a:hover {
	text-decoration: none;
}

h2 {
	margin: 20px 0;
	color: #000;
}

.container {
	padding: 25px 0;
}

.row {
	margin: 20px 0px;
}

.row [class^="col"]:nth-child(even) {
	height: 70px;
	background-color: #3d4a4f;
}

.row [class^="col"]:nth-child(odd) {
	height: 70px;
	background-color: #55534c;
}

[class^="col"] [class^="col"]:nth-child(even) {
	height: 40px;
	background-color: #fff;
}

[class^="col"] [class^="col"]:nth-child(odd) {
	height: 40px;
	background-color: #000;
}
