<div class="row">

  <ng-container *ngFor="let topo of filteredTopologyList; let i = index">



    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title">{{topo.name}}</h5>
        <p class="card-text">id= {{topo.systemTag}}</p>
        <a [routerLink]="['/app-topology',topo.systemTag]" routerLinkActive="router-link-active" class="btn btn-danger">Discover</a>
      </div>
    </div>
    <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>

  </ng-container>

</div>
