<div class="container-fluid">

    <div class="container">
        <!-- <app-web-socket-sample></app-web-socket-sample> -->
    </div>
    <hr />
    <form #f="ngForm" (ngSubmit)="sendMsg()" novalidate>

        <div class="form-group">
            <label for="nickname">NickName: </label>
            <input id="nickname" #nickname="ngModel" required type="text" class="form-control" [(ngModel)]="message.author"
                name="nickname" />
            <div class="alert alert-danger" *ngIf="nickname.touched && !nickname.valid">!! Please specify the nick name
                !!!!.</div>
        </div>


        <div class="form-group">
            <label for="message">Message: </label>
            <input id="ghis" #ghis="ngModel" type="text" class="form-control" [(ngModel)]="message.message" name="message" />

        </div>
        <button class="btn btn-primary">Send</button>
    </form>
    <hr />
    <div *ngFor="let m of  messageList; let i = index">
        {{i+1}}. {{m}}
    </div>
</div>