<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--Configuration Section -->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>

  <!--Modules to list-->
  <modules>
    <module assemblyFile="ComStudio.Modules.Output.dll"
            moduleType="ComStudio.Modules.Output.OutputModule, ComStudio.Modules.Output"
            moduleName="ComStudio.Modules.Output"
            startupLoaded="true"></module>
  </modules>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>