<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--Configuration Section -->
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>

  <!--Modules to list-->
  <modules>

    <module assemblyFile="ComStudio.Modules.Market.dll"
        moduleType="ComStudio.Modules.Market.MarketModule, ComStudio.Modules.Market"
        moduleName="ComStudio.Modules.Market"
        startupLoaded="true" />

    <module assemblyFile="ComStudio.Modules.Position.dll"
       moduleType="ComStudio.Modules.Position.PositionModule, ComStudio.Modules.Position"
       moduleName="ComStudio.Modules.Position"
       startupLoaded="true" />

    <module assemblyFile="ComStudio.Modules.Output.dll"
            moduleType="ComStudio.Modules.Output.OutputModule, ComStudio.Modules.Output"
            moduleName="ComStudio.Modules.Output"
            startupLoaded="true" />

    <module assemblyFile="ComStudio.Modules.Watch.dll"
       moduleType="ComStudio.Modules.Watch.WatchModule, ComStudio.Modules.Watch"
       moduleName="ComStudio.Modules.Watch"
       startupLoaded="true" />

    <module assemblyFile="ComStudio.Modules.Topology.dll"
       moduleType="ComStudio.Modules.Topology.TopologyModule, ComStudio.Modules.Topology"
       moduleName="ComStudio.Modules.Topology"
       startupLoaded="true" />

    <module assemblyFile="ComStudio.Modules.WebTopology.dll"
      moduleType="ComStudio.Modules.WebTopology.WebTopologyModule, ComStudio.Modules.WebTopology"
      moduleName="ComStudio.Modules.WebTopology"
      startupLoaded="true" />
  </modules>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>