<ul class="topul">


  <li>
    <a routerLinkActive="active" routerLink="/app-topology-list">Topolgy-Editor</a>
  </li>









</ul>


<!--
<li class="dropdown">
  <a href="javascript:void(0)" class="dropbtn">TopologyEditor</a>
  <div class="dropdown-content">
    <a routerLinkActive="active" routerLink="/topologyList">TopologyEditor V1</a>
    <a routerLinkActive="active" routerLink="/about">TopologyEditor V2</a>
    <a routerLinkActive="active" routerLink="/about">TopologyEditor V3</a>
  </div>
</li>

-->
