<section id="home" class="hero-bg">
  <div class="container">
    <div class="row justify-content-end align-items-center">
      <div class="col-md-5">
        <h1 class="text-danger mb-4">Hier schmeckt die Bohne</h1>
        <p class="lead text-white">Über dieselbe alte Leiter. Das Layout ist fertig!</p>
        <a role="button" href="#uber-uns" class="btn btn-outline-danger btn-round btn-lg mt-2">
          <small>
            <span class="icon-arrow-down-circle pr-2"></span>
          </small> Erlebnis Starten
        </a>
      </div>
    </div>
  </div>
</section>


<!-- Start Über uns -->
<section id="ueber-uns" class="d-relative">
  <div class="img-bg d-none d-lg-inline">
    <img class="img-fluid" src="assets/img/ueber-uns.jpg" alt="Das sind wir">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="text-danger mb-4">Lerne uns kennen!</h1>
        <p>Überall dieselbe alte Leier. Das Layout ist fertig, der Text lässt auf sich warten. Damit das Layout nun
          nicht nackt im Raume steht und sich klein und leer vorkommt, springe ich ein: der Blindtext.</p>
        <p>Genau zu diesem Zwecke erschaffen, immer im Schatten meines großen Bruders »Lorem Ipsum«, freue ich mich
          jedes Mal, wenn Sie ein paar Zeilen lesen. Denn esse est percipi - Sein ist wahrgenommen werden.</p>
        <p>Und weil Sie nun schon die Güte haben, mich ein paar weitere Sätze lang zu begleiten, möchte ich diese
          Gelegenheit nutzen, Ihnen nicht nur als Lückenfüller zu dienen, sondern auf etwas hinzuweisen, das es ebenso
          verdient wahrgenommen zu werden: Webstandards nämamalich. Sehen Sie, Webstandards sind das Regelwerk, auf dem
          Webseiten aufbauen.</p>
        <p>So gibt es Regeln für HTML, CSS, JavaScript oder auch XML; Worte, die Sie vielleicht schon einmal von Ihrem
          Entwickler gehört haben. Diese Standards sorgen dafür, dass alle Beteiligten aus einer Webseite den größten
          Nutzen ziehen.</p>
        <p class="text-uppercase text-muted mt-4">&mdash; Mug &amp; move Team</p>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!-- Ende Über uns -->


<!-- Die Bohne
  ============================================================================================= -->

<!-- Start Die Bohne -->

<section id="bohne" class="d-relative  ">
  <div class="row justify-content-center mb-22">
    <h1 class="text-danger">Bohnen</h1>
  </div>
  <div class="container bohne-bg">
    <div class="row justify-content-center mb-5 ">
      <div class="col-md-8 text-center">
        <h1 class="text-danger mb-4">Ohne Bohne - kein Kaffee</h1>
        <p class="text-white">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie
          sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen. Erstens: wir haben nicht
          offensiv gespielt.</p>
      </div>
      <!-- col -->

    </div>
    <!-- row -->
    <div class="row justify-content-between">
      <div class="col-md text-center mx-5 mr-md-0 mr-lg-3 mb-5 mb-md-auto">
        <img class="img-fluid mb-4 rounded-circle" src="assets/img/arabica.jpg" alt="Arabica Bohne">
        <h3 class="text-danger mb-3">Arabica</h3>
        <p class="text-white px-4">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was
          sie sind.</p>
      </div>
      <!-- col -->
      <div class="col-md text-center mx-5 mx-md-0 mx-lg-3 mb-5 mb-md-auto">
        <img class="img-fluid mb-4 rounded-circle" src="assets/img/robusta.jpg" alt="Robusta Bohne">
        <h3 class="text-danger mb-3">Robusta</h3>
        <p class="text-white px-4">Genau zu diesem Zwecke erschaffen, immer im Schatten meines großen Bruders »Lorem
          Ipsum«, freue ich mich jedes Mal, wenn Sie ein paar Zeilen lesen. Denn esse est percipi.</p>
      </div>
      <!-- col -->
      <div class="col-md text-center mx-5 ml-md-0 ml-lg-3">
        <img class="img-fluid mb-4 rounded-circle" src="assets/img/blue-mountain.jpg" alt="Jamaica Blue Mountain Bohne">
        <h3 class="text-danger mb-3">Jamaica Blue Mountain</h3>
        <p class="text-white px-4">Quod erat demonstrandum. Seit 1975 fehlen in den meisten Testtexten die Zahlen,
          weswegen nach TypoGb. </p>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!-- Ende die Bohne -->


<!-- Produkte
  ============================================================================================= -->

<!-- Start Produkte -->
<section id="produkte">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <h1 class="text-danger">Unsere besten Kaffees</h1>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row">
      <div class="card-deck mb-4 mx-4 mx-sm-auto">
        <!-- Start Card -->
        <div class="card mb-5 mb-sm-2">
          <img class="card-img-top" src="assets/img/produkt-premium-3.jpg" alt="Premium 3">
          <div class="card-body">
            <h3 class="card-title text-danger">Premium <span class="icon-star h5 pr-1"></span><span class="icon-star h5 pr-1"></span><span
                class="icon-star h5 pr-1"></span></h3>
            <p class="card-text">Genau zu diesem Zwecke erschaffen, immer im Schatten meines großen Bruders »Lorem
              Ipsum«, freue ich mich jedes Mal, wenn Sie ein paar Zeilen lesen. Denn esse est percipi.</p>
            <p class="card-text lead text-danger">12,00 &euro;</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-outline-danger btn-round" type="button">In den Warenkorb</button>
          </div>
        </div>
        <!-- Ende Card -->
        <!-- Start Card -->
        <div class="card mb-5 mb-sm-2">
          <img class="card-img-top" src="assets/img/produkt-premium-2.jpg" alt="Premium 2">
          <div class="card-body">
            <h3 class="card-title text-danger">Premium <span class="icon-star h5 pr-1"></span><span class="icon-star h5 pr-1"></span></h3>
            <p class="card-text">Er konnte die Aufforderung stehen zu bleiben schon hören. Gehetzt sah er sich um.
              Plötzlich erblickte er den schmalen Durchgang. </p>
            <p class="card-text lead text-danger">10,00 &euro;</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-outline-danger btn-round" type="button">In den Warenkorb</button>
          </div>
        </div>
        <!-- Ende Card -->
        <!-- Start Card -->
        <div class="card mb-5 mb-sm-2">
          <img class="card-img-top" src="assets/img/produkt-premium-1.jpg" alt="Premium 1">
          <div class="card-body">
            <h3 class="card-title text-danger">Premium <span class="icon-star h5 pr-1"></span></h3>
            <p class="card-text">Hatte einer seiner zahllosen Kollegen dieselbe Idee gehabt, ihn beobachtet und
              abgewartet, um ihn nun um die Früchte seiner Arbeit zu erleichtern? Oder gehörten die Schritte hinter ihm
              zu einem der unzähligen Gesetzeshüter dieser Stadt!</p>
            <p class="card-text lead text-danger">9,99 &euro;</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-outline-danger btn-round" type="button">In den Warenkorb</button>
          </div>
        </div>
        <!-- Ende Card -->
      </div>
      <!-- card-deck -->
      <div class="card-deck mb-4 mx-4 mx-sm-auto">
        <!-- Start Card -->
        <div class="card mb-5 mb-sm-2">
          <img class="card-img-top" src="assets/img/produkt-gold.jpg" alt="Gold Kaffee">
          <div class="card-body">
            <h3 class="card-title text-danger">Gold</h3>
            <p class="card-text">Er konnte die Aufforderung stehen zu bleiben schon hören. Gehetzt sah er sich um.
              Plötzlich erblickte er den schmalen Durchgang.</p>
            <p class="card-text lead text-danger">11,00 &euro;</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-outline-danger btn-round" type="button">In den Warenkorb</button>
          </div>
        </div>
        <!-- Ende Card -->
        <!-- Start Card -->
        <div class="card mb-5 mb-sm-2">
          <img class="card-img-top" src="assets/img/produkt-silver.jpg" alt="Silber Kaffee">
          <div class="card-body">
            <h3 class="card-title text-danger">Silber</h3>
            <p class="card-text">Hatte einer seiner zahllosen Kollegen dieselbe Idee gehabt, ihn beobachtet und
              abgewartet, um ihn nun um die Früchte seiner Arbeit zu erleichtern? Oder gehörten die Schritte hinter ihm
              zu einem der unzähligen Gesetzeshüter dieser Stadt!</p>
            <p class="card-text lead text-danger">9,89 &euro;</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-outline-danger btn-round" type="button">In den Warenkorb</button>
          </div>
        </div>
        <!-- Ende Card -->
        <!-- Start Card -->
        <div class="card mb-5 mb-sm-2">
          <img class="card-img-top" src="assets/img/produkt-bronze.jpg" alt="Bronze Kaffee">
          <div class="card-body">
            <h3 class="card-title text-danger">Bronze</h3>
            <p class="card-text">Genau zu diesem Zwecke erschaffen, immer im Schatten meines großen Bruders »Lorem
              Ipsum«, freue ich mich jedes Mal, wenn Sie ein paar Zeilen lesen. Denn esse est percipi.</p>
            <p class="card-text lead text-danger">7,89 &euro;</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-outline-danger btn-round" type="button">In den Warenkorb</button>
          </div>
        </div>
        <!-- Ende Card -->
      </div>
      <!-- card-deck -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!-- Ende Produkte -->

<!---End PRODKTE -->

<!--   Newsletter -->
<section id="newsletter" class="newsletter-bg d-relative">
  <div class="bg-overlay">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 test-center">
          <p class="lead text-white mb-5">Abonniere unsere Newsletter und erhlaten immer die neuste Info zu unseren
            schönen card-footer
          </p>
          <button (click)="open(content)" class="btn btn-outline-danger btn-round btn-lg" type="button" data-target="#newsletter-modal"
            data-toggle="modal">Newsletter abonnieren</button>

        </div>

      </div>
    </div>
  </div>
</section>


<!-- Modal
	============================================================================================= -->

<!-- Start Modal -->
<!-- Whats means   #content and let-modal ----   modal representiert das Fenster -->
<ng-template #content let-modal>
  <div class="modal-content">
    <div class="modal-header mb-4">
      <h1 class="modal-title text-danger ml-3">Newsletteranmeldung</h1>
      <!-- <button type="button" class="close mr-3">
        <span class="icon-close" aria-hidden="true"></span>
      </button> -->

      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>
    <div class="modal-body">
      <div class="container">
        <form>
          <div class="row">
            <div class="col-lg-6 mb-4">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Vorname">
              </div>
            </div>
            <div class="col-lg-6 mb-4">
              <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Nachnahme">
              </div>
            </div>
            <div class="col-lg-12 mb-4">
              <div class="input-group input-group-lg">
                <input type="email" class="form-control" placeholder="E-Mail">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="modal.dismiss('cross  click')" type="button" class="btn btn-outline-secondary btn-round">abbrechen</button>
      <button (click)="modal.close('Save click')" type="button" class="btn btn-outline-danger btn-round mr-3">abonnieren</button>
    </div>
  </div>
  <!-- modal-content -->
</ng-template>
{{closeResult}}


<!--Impressionen -->
<!-- Start Impressionen -->
<section id="impressionen" class="d-relative">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <h1 class="text-danger">Impression</h1>
      </div>
    </div>
    <div class="card-columns">
      <div class="card">
        <img src="assets/img/gallery-01.jpg" alt="galleryo1" class="card-img rounded-0">
      </div>
      <div class="card">
        <img src="assets/img/gallery-02.jpg" alt="galleryo2" class="card-img rounded-0">
      </div>
      <div class="card">
        <img src="assets/img/gallery-03.jpg" alt="galleryo3" class="card-img rounded-0">
      </div>
      <div class="card">
        <img src="assets/img/gallery-04.jpg" alt="galleryo4" class="card-img rounded-0">
      </div>
      <div class="card">
        <img src="assets/img/gallery-05.jpg" alt="galleryo5" class="card-img">
      </div>
      <div class="card">
        <img src="assets/img/gallery-06.jpg" alt="galleryo6" class="card-img">
      </div>
      <div class="card">
        <img src="assets/img/gallery-07.jpg" alt="galleryo7" class="card-img">
      </div>
    </div>
    <!--- End Gallery container-->
  </div>
</section>
<!--End Impressionen -->

<!-- Start test Carousel yourself-->
<section id="ngbCarousel" class="d-relative">
  <div class="bg-overlay"> </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h1 class="text-center text-danger mb-5">Was denkst du über diese Fotos? </h1>
          <div class="container">
            <ngb-carousel *ngIf="images">
              <ng-template ngbSlide>
                <img [src]="images[0]" alt="Random first slide">
                <div class="carousel-caption">
                  <h3>10 seconds between slides...</h3>
                  <p>This carousel uses customized default values.</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img [src]="images[1]" alt="Random second slide">
                <div class="carousel-caption">
                  <h3>No mouse events...</h3>
                  <p>This carousel doesn't pause or resume on mouse events</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img [src]="images[2]" alt="Random third slide">
                <div class="carousel-caption">
                  <h3>No keyboard...</h3>
                  <p>This carousel uses customized default values.</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <img [src]="images[3]" alt="Random fourth slide">
                <div class="carousel-caption">
                  <h3>And no wrap after last slide.</h3>
                  <p>This carousel uses customized default values.</p>
                </div>
              </ng-template>
            </ngb-carousel>
            <!--End images-->
          </div>
        </div>
      </div>
    </div>

  <!----En overlay-->
</section>
<!-- End test Carossele with ngb-->


<!-- Kontakt
  ============================================================================================= -->
<!-- Start Kontakt -->
<section id="kontakt" class="d-relative">
  <div class="container">
    <div class="row mt-100 mb-5">
      <div class="col-md-12 text-center">
        <h1 class="text-danger">Schön von euch zu lesen</h1>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <form>
      <div class="row">
        <div data-aos="fade-right" class="col-md-6 mb-4 pr-md-4 pl-md-5">
          <div  class="input-group input-group-lg">
            <textarea height="100" name="nachricht" class="form-control" rows="6" placeholder="Nachricht"></textarea>
          </div>
        </div>
        <div data-aos="fade-left" class="col-md-6 pr-md-5 pl-md-4">
          <div class="input-group input-group-lg mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text icon-user bg-danger text-white"></span>
            </div>
            <input type="text" name="name" class="form-control" placeholder="Vollständiger Name">
          </div>
          <div class="input-group input-group-lg mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text icon-paper-plane bg-danger text-white"></span>
            </div>
            <input type="email" name="email" class="form-control" placeholder="E-Mail">
          </div>
          <button type="submit" class="btn btn-outline-danger btn-lg btn-block btn-round">Senden</button>
        </div>
      </div>
      <!-- row -->
    </form>
  </div>
  <!-- container -->
</section>
<!-- Ende Kontakt -->
