<h1>New Make</h1>
<p>
  {{ make | json }}
</p>
<form #f="ngForm" (ngSubmit)="submit()" novalidate>
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" type="text" class="form-control" [(ngModel)]="make.name" name="name" />
    <div class="alert alert-danger" *ngIf="make.touched && !make.valid">Please specify the make name.</div>
  </div>


  <p>Is africa manufactured?</p>
  <label for="africaManufactured" class="radio-inline">
    <input type="radio" name="africaManufactured" id="registered" [value]="true" [(ngModel)]="make.isAfricaManufactured">
    Yes
  </label>
  <label for="notAfricaManufactured" class="radio-inline">
    <input type="radio" name="africaManufactured" id="notAfricaManufactured" [value]="false" [(ngModel)]="make.isAfricaManufactured">
    No
  </label>

  <!-- Beispeil textBox in html -->
  <!-- <div class="form-group">
    <label for="contactEmail">Email</label>
    <input id="contactEmail" type="text" class="form-control" [(ngModel)]="vehicle.contact.email" name="contactEmail">
  </div> -->
  <button class="btn btn-primary">Save</button>

  <p> This is <b> Make </b> Editor</p>
</form>
