<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-ghislain fixed-top py-0">
    <div class="container">
      <a href="#" class="navbar-brand font-alt">
        <img src="assets/img/CEL10.png" alt="Loo" class="mr-3 mb-2" height="40"> Zoe &amp; Soso
      </a>

      <div class="navbar-toogler text-justify">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Vehicles</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Über uns</a>
          </li>
          <li class="nav-item d-relative">
            <a href="#" class="nav-link">
              <span class="badge badge-danger">4</span>
              Impression</a>
          </li>

          <ng-template #anonymousUser>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Login</a>
            </li>
          </ng-template>
          <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{ appUser.name }}
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" routerLink="/">Home</a>
              <a class="dropdown-item" routerLink="/vehicles/new">New Vehicle</a>
              <a class="dropdown-item" routerLink="/vehicles">Views all Vehicles</a>
              <hr />

              <ng-container *ngIf="appUser.isAdmin">
                <a class="dropdown-item" routerLink="/admin/dashbord">Admin Dashbord</a>
                <a class="dropdown-item" routerLink="/make/new">New Make </a>
                <a class="dropdown-item" routerLink="/model/new">New Model </a>
                <hr />
                <a class="dropdown-item" routerLink="/counter">Counter</a>
                <a class="dropdown-item" routerLink="/fetch-data">Fetch data</a>
              </ng-container>
              <a class="dropdown-item" (click)="logout()">Log Out</a>
            </div>
          </li>
        </ul>
        <!--end navbar-nav-->
      </div>
    </div>
  </nav>
</header>
