<h1>WebSocket Sample Application</h1>
<p id="stateLabel"> {{stateLabel}} </p>
<div>
  <label for="connectionUrl">WebSocket Server URL:</label>
  <input id="connectionUrl" [(ngModel)]="connectionUrl" />
  <button id="connectButton" (click)="connect()">Connect</button>
</div>
<p></p>
<div>
  <label for="sendMessage">Message to send:</label>
  <input id="sendMessage" #sendInput="ngModel" [(ngModel)]="sendMessage" disable />

  <button id="sendButton" (click)="send()" type="submit">Send</button>
  <button id="closeButton" (click)="close()">Close Socket</button>
</div>

<h2>Communication Log</h2>
<table style="width: 800px">
  <thead>
    <tr>
      <td style="width: 400px">From</td>
      <td style="width: 100px">To</td>
      <td>Data</td>
    </tr>
  </thead>
  <tbody id="commsLog">
    <ul>
      <li *ngFor="let lin of commsLogList">
        {{lin}}
      </li>
    </ul>

  </tbody>
</table>