/* === Navigation ===*/

nav.navbar.navbar-dark button:hover,
nav.navbar.navbar-dark button:focus,
nav.navbar.navbar-dark .nav-link:hover {
  color: #dc3545;
}

.navbar-nav .badge {
  position: absolute;
  left: 25px;
  bottom: 25px;
  padding-right: .5em;
  padding-left: .5em;
}

.navbar-nav .icon-basket {
  line-height: 0.8;
  font-size: 1.5em;
}
